aiofiles==0.5.0
async-exit-stack==1.0.1
email-validator==1.1.2
fastapi==0.63.0
graphene==2.1.8
itsdangerous==1.1.0
jupyter==1.0.0
orjson==3.4.8
pandas==1.2.2
pip-chill==1.0.1
python-dotenv==0.15.0
python-multipart==0.0.5
pyyaml==5.4.1
requests==2.25.1
sklearn==0.0
ujson==3.2.0
uvicorn==0.13.4
watchgod==0.7
websockets==8.1
wincertstore==0.2
